body{
    background: url(../img/bg-img.png);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin-top: 50px;
    width: 700px;
    height: 200px;
    height: fit-content;
    display: flex;
    border-radius: 15px;
    margin-top: 200px;
}
.btns{
    display: flex;
    position: absolute;
    z-index: 1;
    top: 40px;
    font-family: 'Klee One', cursive;
}
.btns p {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
    padding: 6px 15px;
    border: 1px solid black;
    border-radius: 7px;
    color: #1c1b44;
    transition-duration: 0.5s;
    background-color: #98f3958f;
    cursor: pointer;
}
.btns p:hover{
    background-color: #4ea84be0;
}
.city{
    height: 400px;
    width: 100%;
    border-radius: 15px;
    background-color: #00000080;
    margin-bottom: 20px;
    display: flex;
    position: relative;
}
.city-info{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}
.img-desc{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.city-name{
    font-size: 30px;
    color: #c1f0f8;
    font-weight: bolder;
}
.icon{
    width: 50px;
    height: 50px;
    border: none;
}
.description{
    font-size: 20px;
    color: #350f46;
}
.temp{
    font-size: 23px;
    color: #d85012;
    margin-bottom: 15px;
}
.img-space{
    width: 400px;
    height: 400px;
    border-radius: 15px;
    position: absolute;
    right: 0;
}
.humidity,.wind{
    font-size: 20px;
    color: darksalmon;
}

@media screen and (max-width: 750px) {
    .content{
        width: 480px;
    }
    .img-space{
        width: 280px;
    }
    .city-name{
        font-size: 22px;
    }
    .description{
        font-size: 16px;
    }
    .temp{
        font-size: 18px;
    }
    .humidity,.wind{
        font-size: 17px;
    }
    .btns p {
        font-size: 18px;
        margin-left: 5px;
        padding: 4px 10px;
    }
}

@media screen and (max-width: 550px) {
    .content{
        margin-top: 150px;
        margin-left: 20px;
    }
    .city{
        width: 400px;
        height: 220px;
    }
    .city-info{
        margin-left: 2px;
    }
    .img-space{
        width: 200px;
        height: 220px;
    }
    .city-name{
        font-size: 15px;
    }
    .description{
        font-size: 12px;
    }
    .temp{
        font-size: 14px;
    }
    .humidity,.wind{
        font-size: 13px;
    }
    .btns{
        left: 40px;
    }
    .btns p {
        font-size: 18px;
        margin-left: 5px;
        padding: 4px 10px;
    }
}

@media  screen and (max-width: 450px) {
    .content{
        margin-top: 150px;
        margin-left: 10px;
        overflow-x: hidden;
    }
    .city{
        width: 300px;
        height: 220px;
    }
    .city-info{
        margin-left: 2px;
    }
    .img-space{
        width: 150px;
        height: 220px;
    }
    .city-name{
        font-size: 13px;
    }
    .description{
        font-size: 10px;
    }
    .temp{
        font-size: 12px;
    }
    .humidity,.wind{
        font-size: 11px;
    }
    .btns{
        left: 20px;
    }
    .btns p {
        font-size: 15px;
        margin-left: 3px;
        padding: 4px 8px;
    }
}